<div class="container" *ngIf="!post; ngIfElse forminfo" novalidate>
  <div class="container" tabindex="-1">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">

      <mat-form-field class="form-element">
        <input matInput placeholder="Nom" formControlName="unom" [readonly]="inputIsReadOnly"
          (keydown.Shift.Tab)="onKey($event);false">
        <mat-hint>Choose firstname AND lastname of at least eight characters.[-- --]</mat-hint>
        <mat-error *ngIf="!formGroup.controls['unom'].valid && formGroup.controls['unom'].touched">
          {{ getErrorMedecinName() }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput placeholder="Prénom" formControlName="uprenom" [readonly]="inputIsReadOnly">
        <mat-hint>Indicate INAMI number of exactly eight characters.[------]</mat-hint>
        <mat-error *ngIf="!formGroup.controls['uprenom'].valid && formGroup.controls['uprenom'].touched">
          {{ getErrorMedecinInami() }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput placeholder="Rue" formControlName="urue" [readonly]="inputIsReadOnly">
        <mat-hint>Indicate the street of at least eight characters.</mat-hint>
        <mat-error *ngIf="!formGroup.controls['urue'].valid && formGroup.controls['urue'].touched">
          {{ getErrorMedecinRue() }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput placeholder="Code postal" formControlName="ucodep" [readonly]="inputIsReadOnly">
        <mat-hint>Indicate the town of at least eight characters.</mat-hint>
        <mat-error *ngIf="!formGroup.controls['ucodep'].valid && formGroup.controls['ucodep'].touched">
          {{ getErrorMedecinVille() }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput placeholder="Ville" formControlName="uville" [readonly]="inputIsReadOnly">
        <mat-hint>Indicate phone number with exactly ten number or twelwe. [--- -- -- -- --]</mat-hint>
        <mat-error *ngIf="!formGroup.controls['uville'].valid && formGroup.controls['uville'].touched">
          {{ getErrorMedecinTelephone() }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput placeholder="email" formControlName="email" [readonly]="inputIsReadOnly">
        <mat-hint>Indicate phone number with exactly ten number. [-----------]</mat-hint>
        <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
          {{ getErrorMedecinGsm() }}
        </mat-error>
      </mat-form-field>

      <div class="form-element" *ngIf="inputIsCreation">
        <button mat-raised-button color="primary" type="submit" class="button2"
          [attr.disabled]="!formGroup.valid">Submit</button>
        <button mat-raised-button color="primary" class="button2">
          <a mat-fab routerLink="personnes/selection">Back</a>
        </button>
      </div>
      <div class="form-element" *ngIf="!inputIsCreation && inputIsReadOnly">
        <button mat-raised-button color="primary" class="button3" (click)="deleteMedecin()">
          <a mat-fab>Suppr</a>
        </button>
        <button mat-raised-button color="primary" class="button3" (onclick)="editMedecin()">
          <a mat-fab>Edit</a>
        </button>
        <button mat-raised-button color="primary" class="button3">
          <a mat-fab routerLink=".">Back</a>
        </button>
      </div>
      <div class="form-element" *ngIf="!inputIsCreation && !inputIsReadOnly">
        <button mat-raised-button color="primary" class="button3" (click)="deleteMedecin()">
          <a mat-fab>Suppr</a>
        </button>
        <button mat-raised-button color="primary" type="submit" class="button3">Update</button>

        <button mat-raised-button color="primary" class="button3">
          <a mat-fab routerLink=".">Back</a>
        </button>
      </div>
    </form>
  </div>
  <ng-template #forminfo>
    <div class="container">
      {{ post | json }}
    </div>
  </ng-template>