<footer class="nga-footer">

  <div class="container py-5 text-center text-lg-start">
    <div class="row">
      <div class="col-12 col-lg-5 mb-3">
        <h2 class="h5"><img class="mb-1 me-1" src="./assets/params/images/logo/ganatan-logo.png" srcset="./assets/params/images/logo/ganatan-logo.png,
          ./assets/params/images/logo/ganatan-logo@2x.png 2x" width="25" height="25" alt="Logo"><a
            href="https://www.philippe-barat.be/"> Philippe BARAT</a></h2>
        <hr class="text-primary mb-4 mt-0 d-inline-block " style="width: 120px;">
        <div>
          <a type="button" class="nga-btn-social nga-btn-linkedin" href="https://www.linkedin.com/in/philippe-barat/"
            aria-label="Linkedin">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a type="button" class="nga-btn-social nga-btn-twitter" href="https://twitter.com/phbarat"
            aria-label="Twitter ganatan">
            <i class="fab fa-twitter"></i>
          </a>
          <a type="button" class="nga-btn-social nga-btn-github" href="https://github.com/PhBarat"
            aria-label="Github ganatan">
            <i class="fab fa-github"></i></a>
        </div>
      </div>
      <div class="col-6 col-lg-3 mb-3">
        <h2 class="h5">Tools</h2>
        <hr class="text-primary mt-0 d-inline-block" style="width: 70px;">
        <ul class="list-unstyled">
          <li class="mb-2"><a href="https://angular.io/">Angular</a></li>
          <li class="mb-2"><a href="https://getbootstrap.com/">Bootstrap</a></li>
          <li class="mb-2"><a href="https://docs.microsoft.com/fr-fr/learn/modules/csharp-write-first/">Lignes de code
              en C#</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-3 mb-3">
        <h2 class="h5">Learn</h2>
        <hr class="text-primary mt-0 d-inline-block" style="width: 70px;">
        <ul class="list-unstyled">
          <li class="mb-2"><a href="http://www.technofuturtic.be">Technofutur TIC</a></li>
          <li class="mb-2"><a
              href="https://technofuturtic.be/Formation/Les-fondamentaux-de-la-Cybersecurite---comprendre-les-enjeux-et-maitriser-les-risques?st=15&sst=66&a=0&ihh=1&cp=0">Cybersécurité</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="py-3 text-center" style="background-color: black;">
    <div class="container">
      Badge 2022 : FQ22L060 - Développeur .NET Cybersécurité - Février 2022
    </div>
  </div>
</footer>