<div class="py-5">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-12 pb-4">
        <section class="card nga-card-about card-logo">
          <img class="" src="./assets/params/images/about/ganatan-about.png" height="160" width="160" alt="logo Ganatan"
            title="logo Ganatan">
          <div class="card-body">
            <h1 class="card-title h5">
              <strong>Contact</strong>
            </h1>
            <h2 class=" h6">Développeur .NET Cybersécurité</h2>
            <p>philippe.barat@gmail.com</p>
            <a type="button" class="nga-btn-about nga-btn-github" href="https://github.com/PhBarat"
              aria-label="Github ganatan">
              <i class="fab fa-github"></i></a>
            <a type="button" class="nga-btn-about nga-btn-linkedin" href="https://www.linkedin.com/in/philippe-barat/"
              aria-label="Linkedin ganatan">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a type="button" class="nga-btn-about nga-btn-twitter" href="https://twitter.com/phbarat"
              aria-label="Twitter ganatan">
              <i class="fab fa-twitter"></i>
            </a>
            <hr>
            <h3 class="h6 text-primary p-4">Updated 2022, 9 September</h3>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>