<br>
<div id="main">
    <div class="inner">
        <div class="Content" id="PgContent">
            <h2 style="text-align:center">Ca coûte vachement cher les études ! Et pourtant, moi je faisais gaffe. <br>
                J'étais un de ceux qui étudiait le moins. <br><br>
                Coluche Artiste, Comique (1944 - 1986)</h2>
            <section class="tiles">
                <article class="style6">
                    <span class="image">
                        <img src="https://picsum.photos/200/180?random=1" alt="" />
                    </span>
                    <a href="generic.html">
                        <h2>Etudier</h2>
                        <div class="content">
                            <p>"Je suis capable du meilleur et du pire. Mais, dans le pire, c'est moi le meilleur."</p>
                        </div>
                    </a>
                </article>
                <article class="style5">
                    <span class="image">
                        <img src="https://picsum.photos/200/180?random=2" alt="" />
                    </span>
                    <a href="generic.html">
                        <h2>Enseigner</h2>
                        <div class="content">
                            <p>"De tous ceux qui n'ont rien à dire, les plus agréables sont ceux qui se taisent."</p>
                        </div>
                    </a>
                </article>
                <article class="style4">
                    <span class="image">
                        <img src="https://picsum.photos/200/180?random=3" alt="" />
                    </span>
                    <a href="generic.html">
                        <h2>Administrer</h2>
                        <div class="content">
                            <p>"Je ne suis ni pour, ni contre, bien au contraire."</p>
                        </div>
                    </a>
                </article>
            </section>
        </div>
    </div>
</div>